In [1]:
import pandas as pd 
import numpy as np

In [2]:
tweet_df = pd.read_csv('../data/trump_tweets_jay.csv')
hedo_df = pd.read_csv('../data/word_sentiment_rating.csv')
tweet_df_scores = pd.read_csv('../data/tweet_df_cleaned.csv')
tweet_df2 = pd.read_csv('../data/tweet_df_cleaned_w_sentiment.csv')

## Tweet dataframe

In [3]:
# check for content and shape
print(tweet_df.shape)
tweet_df.head()

(54442, 8)

,id,text,isRetweet,isDeleted,device,favorites,retweets,date
0,98454970654916608,Republicans and Democrats have both created ou...,f,f,TweetDeck,49,255,2011-08-02 18:07:48
1,1234653427789070336,I was thrilled to be back in the Great city of...,f,f,Twitter for iPhone,73748,17404,2020-03-03 01:34:50
2,1218010753434820614,RT @CBS_Herridge: READ: Letter to surveillance...,t,f,Twitter for iPhone,0,7396,2020-01-17 03:22:47
3,1304875170860015617,The Unsolicited Mail In Ballot Scam is a major...,f,f,Twitter for iPhone,80527,23502,2020-09-12 20:10:58
4,1218159531554897920,RT @MZHemingway: Very friendly telling of even...,t,f,Twitter for iPhone,0,9081,2020-01-17 13:13:59

In [4]:
# compare tweet list with no re-tweets
no_retweets = tweet_df['isRetweet'] == 'f'
tweet_df[no_retweets].shape

(45270, 8)

In [8]:
keywords = ['stock', 'market', 'economy', 'company', 'bull', 'bear', 'stockmarket', 'wall', 'street', 'wallstreet', 's&p', 'dowjones', 'dow', 'jones', 'stocks']
pattern = '|'.join(keywords)
new = tweet_df2['text'].str.lower().str.contains(pattern, case=False) 

tweet_df_filtered = tweet_df2[new]
tweet_df_filtered = tweet_df_filtered.drop(['Unnamed: 0', 'Unnamed: 0.1'], axis=1)
tweet_df_filtered.head()

,id,text,isRetweet,isDeleted,device,favorites,retweets,date,word_and_scores,scores_only,avg_scores,sum_scores,sentiment_category,word_count
50,1230137051393089539,RT @RepMarkMeadows: The FBI lied to the FISA C...,t,f,Twitter for iPhone,0,9875,2020-02-19 14:28:22,"[('RT', 4.88), ('The', 4.98), ('FBI', 4.32), (...","[4.88, 4.98, 4.32, 2.82, 3.78, 5.58, 5.0, 3.18...",4.652000,46.52,negative,58
67,1221159407121203200,RT @RepMarkMeadows: There is no other way to s...,t,f,Twitter for iPhone,0,17621,2020-01-25 19:54:25,"[('RT', 4.88), ('There', 5.1), ('way', 5.24), ...","[4.88, 5.1, 5.24, 5.64, 4.98, 5.68, 6.22, 5.86...",5.576364,61.34,positive,64
70,1241354162144784384,Great story. Thank you to Mr. Young of Jonesbo...,f,f,Twitter for iPhone,47132,10999,2020-03-21 13:21:10,"[('Great', 7.88), ('story', 6.48), ('Thank', 7...","[7.88, 6.48, 7.4, 6.82, 5.4]",6.796000,33.98,positive,28
156,1285520211593105413,Thank you for the good reviews and comments on...,f,f,Twitter for iPhone,99507,18215,2020-07-21 10:21:16,"[('Thank', 7.4), ('good', 7.2), ('reviews', 5....","[7.4, 7.2, 5.3, 5.62, 5.06, 5.22, 4.78, 6.38, ...",5.735556,103.24,positive,105
197,1254077550541844480,If the Wall Street Journal “Editorial” writers...,f,f,Twitter for iPhone,103683,21083,2020-04-25 15:59:22,"[('If', 4.66), ('Wall', 4.98), ('Street', 5.44...","[4.66, 4.98, 5.44, 5.7, 5.34, 6.32, 5.6, 5.38,...",5.502727,121.06,positive,127

## The hedonometer word sentiment scores dataframe

In [9]:
print(hedo_df.head())
print(hedo_df.shape)

   Unnamed: 0  happs  rank  stdDev            word
0           0    5.1  6648    0.99       according
1           1    5.1  6649    1.58  administrative
2           2    5.1  6650    1.25          albert
3           3    5.1  6651    1.31          alleen
4           4    5.1  6652    1.30           allen
(10187, 5)

## Tokenize tweets and remove the stopwords to take away "filler" type words

In [6]:
# Use nltk for tokenizer and stopwords removal
import nltk
from nltk.corpus import stopwords
nltk.download('stopwords')
from nltk.tokenize import word_tokenize
nltk.download('punkt')

[nltk_data] Downloading package stopwords to
[nltk_data]     C:\Users\jaysu\AppData\Roaming\nltk_data...
[nltk_data]   Package stopwords is already up-to-date!
[nltk_data] Downloading package punkt to
[nltk_data]     C:\Users\jaysu\AppData\Roaming\nltk_data...
[nltk_data]   Package punkt is already up-to-date!

True

In [7]:
text_tokens=tweet_df['text'].apply(lambda x: word_tokenize(x))

In [8]:
# Notice the structure of the first tweet with "stopwords"
text_tokens[0]

['Republicans',
 'and',
 'Democrats',
 'have',
 'both',
 'created',
 'our',
 'economic',
 'problems',
 '.']

In [9]:
# Tokenize each tweet, remove stopwords, and append into a list to be added to dataframe later
tokens = []
# Cache the stopword function to speed up runtime. Otherwise the loop will access the method each iteration and slow down for loop. 
cachedStopWords = stopwords.words('english')
for tweet in tweet_df['text']:
    text_tokens = word_tokenize(tweet)
    token = [word for word in text_tokens if not word in cachedStopWords]
    tokens.append(token)
#     print(token)

In [11]:
# Inpsect list object for removal of stopwords
tokens[0]

['Republicans', 'Democrats', 'created', 'economic', 'problems', '.']

In [5]:
tweet_df2['tokens'] = tokens

NameError: name 'tokens' is not defined

## Pull the score of tokenize word in each Tweet. Make sure that the list structure is intact.

In [15]:
# Look through the tokens list and access the value of the word with .loc()
# Append words in a tweet list, then append that list to the scores list
# Make sure to turn all words into lowercase first to match the hedo_df words
word_and_scores = []
for token in tokens:
    tweet = []
    for word in token:
        score = hedo_df.loc[hedo_df['word'] == word.lower(), 'happs']
        if score.values.size:
            tweet.append((word, score.values[0]))
#             print(word,score.values[0])
    word_and_scores.append(tweet)

In [16]:
word_and_scores[0]

[('Republicans', 4.22),
 ('Democrats', 5.5),
 ('created', 6.06),
 ('economic', 5.36),
 ('problems', 2.92)]

In [19]:
# Populate only the scores of the individual words of each tweet in list of lists
scores_only = []
for token in tokens:
    tweet = []
    for word in token:
        score = hedo_df.loc[hedo_df['word'] == word.lower(), 'happs']
        if score.values.size:
            tweet.append(score.values[0])
#             print(score.values[0])
    scores_only.append(tweet)

In [20]:
scores_only[0]

[4.22, 5.5, 6.06, 5.36, 2.92]

## Aggregation functions of the score list - sum and mean

In [22]:
# how to .agg() a new colum with mean and sum? 
import statistics as st
sum_scores = [sum(x) for x in scores_only]

In [23]:
sum_scores[:5]

[24.059999999999995,
 142.1,
 49.019999999999996,
 147.05999999999997,
 63.41999999999999]

In [25]:
# To calculate mean you must create a function with a try/except logic for 'nan' values
def check(data):
    try:
        return st.mean(data)
    except:
        return np.nan
avg_scores = [check(x) for x in scores_only]

In [26]:
avg_scores[:5]

[4.812, 6.459090909090909, 5.446666666666666, 4.902, 5.765454545454546]

## Append the tweet dataframe with the new lists

In [28]:
# Inspect the DF with the newly added columns
tweet_df['word_and_scores'] = word_and_scores
tweet_df['scores_only'] = scores_only
tweet_df['avg_scores'] = avg_scores
tweet_df['sum_scores'] = sum_scores
tweet_df.head()

,id,text,isRetweet,isDeleted,device,favorites,retweets,date,word_and_scores,scores_only,avg_scores,sum_scores
0,98454970654916608,Republicans and Democrats have both created ou...,f,f,TweetDeck,49,255,2011-08-02 18:07:48,"[(Republicans, 4.22), (Democrats, 5.5), (creat...","[4.22, 5.5, 6.06, 5.36, 2.92]",4.812000,24.06
1,1234653427789070336,I was thrilled to be back in the Great city of...,f,f,Twitter for iPhone,73748,17404,2020-03-03 01:34:50,"[(I, 5.92), (back, 5.18), (Great, 7.88), (city...","[5.92, 5.18, 7.88, 5.76, 5.5, 5.52, 5.44, 6.14...",6.459091,142.10
2,1218010753434820614,RT @CBS_Herridge: READ: Letter to surveillance...,t,f,Twitter for iPhone,0,7396,2020-01-17 03:22:47,"[(RT, 4.88), (READ, 6.52), (Letter, 5.94), (co...","[4.88, 6.52, 5.94, 3.78, 6.36, 4.96, 5.6, 5.0,...",5.446667,49.02
3,1304875170860015617,The Unsolicited Mail In Ballot Scam is a major...,f,f,Twitter for iPhone,80527,23502,2020-09-12 20:10:58,"[(The, 4.98), (Mail, 6.36), (In, 5.5), (Ballot...","[4.98, 6.36, 5.5, 5.16, 5.76, 2.36, 6.36, 5.44...",4.902000,147.06
4,1218159531554897920,RT @MZHemingway: Very friendly telling of even...,t,f,Twitter for iPhone,0,9081,2020-01-17 13:13:59,"[(RT, 4.88), (Very, 6.12), (friendly, 7.66), (...","[4.88, 6.12, 7.66, 5.3, 6.26, 4.94, 5.6, 5.62,...",5.765455,63.42

In [4]:
# Save the cleaned tweet_df as a .csv for rest of team to use
# tweet_df.to_csv('tweet_df_cleaned.csv')

In [13]:
# create new column
tweet_df_scores['sentiment_category'] = ''
tweet_df_scores['word_count']= ''
tweet_df_scores['word_count'] = tweet_df_scores['scores_only'].str.len()

# assign sentiment category
tweet_df_scores.loc[tweet_df_scores.avg_scores >= 5.5, 'sentiment_category'] = 'positive'
tweet_df_scores.loc[(tweet_df_scores.avg_scores > 5) & (tweet_df_scores.avg_scores < 5.5), 'sentiment_category'] = 'neutral'
tweet_df_scores.loc[tweet_df_scores.avg_scores <= 5 , 'sentiment_category'] = 'negative'

In [14]:
tweet_df_scores.head()

,Unnamed: 0,id,text,isRetweet,isDeleted,device,favorites,retweets,date,word_and_scores,scores_only,avg_scores,sum_scores,sentiment_category,word_count
0,0,98454970654916608,Republicans and Democrats have both created ou...,f,f,TweetDeck,49,255,2011-08-02 18:07:48,"[('Republicans', 4.22), ('Democrats', 5.5), ('...","[4.22, 5.5, 6.06, 5.36, 2.92]",4.812000,24.06,negative,29
1,1,1234653427789070336,I was thrilled to be back in the Great city of...,f,f,Twitter for iPhone,73748,17404,2020-03-03 01:34:50,"[('I', 5.92), ('back', 5.18), ('Great', 7.88),...","[5.92, 5.18, 7.88, 5.76, 5.5, 5.52, 5.44, 6.14...",6.459091,142.10,positive,129
2,2,1218010753434820614,RT @CBS_Herridge: READ: Letter to surveillance...,t,f,Twitter for iPhone,0,7396,2020-01-17 03:22:47,"[('RT', 4.88), ('READ', 6.52), ('Letter', 5.94...","[4.88, 6.52, 5.94, 3.78, 6.36, 4.96, 5.6, 5.0,...",5.446667,49.02,neutral,52
3,3,1304875170860015617,The Unsolicited Mail In Ballot Scam is a major...,f,f,Twitter for iPhone,80527,23502,2020-09-12 20:10:58,"[('The', 4.98), ('Mail', 6.36), ('In', 5.5), (...","[4.98, 6.36, 5.5, 5.16, 5.76, 2.36, 6.36, 5.44...",4.902000,147.06,negative,172
4,4,1218159531554897920,RT @MZHemingway: Very friendly telling of even...,t,f,Twitter for iPhone,0,9081,2020-01-17 13:13:59,"[('RT', 4.88), ('Very', 6.12), ('friendly', 7....","[4.88, 6.12, 7.66, 5.3, 6.26, 4.94, 5.6, 5.62,...",5.765455,63.42,positive,64

In [15]:
# Save the cleaned tweet_df as a .csv for rest of team to use
tweet_df_scores.to_csv('tweet_df_cleaned_w_sentiment.csv', index=False)

In [10]:
tweet_df_filtered.to_csv('../Data/tweet_df_stockmarket_only.csv', index=False)